SMTP_HOST=mail.hbsols.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=info@hbsols.com
SMTP_PASSWORD=your_email_password
CONTACT_TO_EMAIL=hbsols.info@gmail.com
CONTACT_FROM_EMAIL=HB Solutions <info@hbsols.com>
